body{
    display:flex;
    height:500px;
    justify-content:center;
    align-items: center;
    margin:0px;
    gap:30px;
}
div{
    height:200px;
    width:200px;
    border-radius:10px;
    border:5px solid black;
    display:flex;
    align-items: center;
    justify-content: center;     
    background-color:grey;
    font-size:25px;
    flex-direction: column;  
}
button{
    background-color:blue;
}